<main>
  <div class="fondo">
    <div class="container">
      <img
        src="https://i.postimg.cc/D09pGQNF/imagen-2024-01-16-064326659.png"
        alt="Logo de Tu Cafetería"
        class="logo"
      />
      <h2>Bienvenido a Tu Cafetería</h2>
      <p>Descubre nuestra deliciosa selección de productos frescos y sabrosos.
        Desde cafés especializados hasta exquisitos postres, tenemos algo para
        todos los amantes del buen café.</p>
      <img
        src="https://i.postimg.cc/xTmXQN88/imagen-2024-02-15-184022884.png"
        alt="fotos de café"
      />
    </div>
  </div>
</main>