<div class="fondo">
  <h1>Productos</h1>
  <div class="d-flex flex-wrap justify-content-evenly" id="products">
    {{#each products}}
      <div class="card" style="width: 18rem;">
        <img src="{{photo}}" class="card-img-top img-thumbnail" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <p>Stock: {{stock}}</p>
          <p>Precio: ${{price}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>