<form class="box">
  <h1>Registrarse</h1>
  <input id="name" type="text" name="" placeholder="Username" />
  <input id="password" type="password" name="" placeholder="Password" />
  <input id="email" type="email" name="" placeholder="Email" />
  <input id="register" type="button" name="" value="Register" />
  <button id="google" type="button">Google!</button>
</form>

<script src="/scripts/register.js"></script>
<script src="/scripts/third.js"></script>